<div class="super-cont">

<div class="my-header">
<h1>GITHUB</h1>
<h2>User Lookup</h2>
</div>

<div class="input">
  <input type="text" [(ngModel)]="gitName" >
  <button type="button" name="button" (click)="searchGitName()">Search</button>
</div>


<div class="animated-entry">
<div class="lookupDisplay" *ngIf="gitHubDetails">
  <img align="center" [src]="gitHubDetails.avatar_url" alt="">
</div>

<div class="results" *ngIf="gitHubDetails">
  <h5>name: {{gitHubDetails.name}}</h5>
  <h5>company: {{gitHubDetails.company}}</h5>
  <h5>id: {{gitHubDetails.id}}</h5>
  <h5>url: {{gitHubDetails.url}}</h5>
</div>
</div>

</div>
